@media (min-width: 768px) and (max-width: 1199px) {
    .crafting-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E9F4FF;
    }

    .left-side {
        align-items: center;
        padding: 3%;
        position: relative;
    }


    .left-side h1 {
        margin-bottom: 10px;
        font-size: 2rem;
        line-height: 1.5;
        max-width: 80vw;
    }

    .left-side button {
        margin-top: 10%;
    }

    .talk-btn,
    .view-more {
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: #4361EE;
        color: #FFF;
        border-radius: 10px;
        width: 40%;
    }

    .talk-area {
        display: flex;
        justify-items: flex-end;
        align-items: center;
        position: absolute;
        top: 30vh;
        left: 0;
        padding-left: 5%;
    }

    .talk-btn {
        width: 167px;
        height: 54px;
        border-radius: 10px;
        background-color: #4361EE;
        border: none;
        color: #FFF;
        font-size: 18px;
        margin-top: 10%;
    }

    .view-more {
        padding: 1%;
    }

    .right-side {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side img {
        max-width: 100%;
        margin-top: 10%;
        width: 80vw;
        height: auto;
    }

    .elevate-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;
    }

    .elevate-header h1 {
        font-size: 2rem;
    }

    .elevate-header p {
        color: #1A2630;
        font-size: 1.3rem;
        line-height: 170%;
        font-weight: 400;
        text-align: center;
        margin-top: 10%;
    }

    .elevate-right-side p:nth-child(2) {
        margin-top: 5%;
    }

    .elevate-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elevate-right-side {
        line-height: 180%;
        color: #4F5863;
        text-align: center;
        padding: 10%;
        font-size: 1.4rem;
    }

    .elevate-right-side p {
        text-align: left;
    }

    .our-services {
        display: flex;
        background-color: #E9F4FF;
    }


    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
    }


    .img-container img {
        width: 100%;
        height: auto;
    }


    .our-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-item {
        position: relative;
        display: inline-block;
        width: 200px;
        object-fit: cover;
    }

    /* top */
    .overlay-text {
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.2rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    .text-with-icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .only-desktop {
        display: none !important;
    }

    .top-row img {
        width: 14%;
        height: auto;
        margin-left: 3%;
    }

    .top-row p {
        text-align: center;
        padding-left: 1%;
        font-weight: 700;
        font-size: 1.3rem;
        overflow: hidden;
    }

    /* part4 */
    #part4 {
        margin: 10vh 0;
        width: 100%;
        text-align: center;
        position: relative;
    }

    #part4 h1 {
        font-size: 2.2em;
    }

    #part4 h1 span {
        border-bottom: 3px solid #4361EE;
        padding-bottom: 0.5vh;
        position: relative;
    }

    /* 
    #part4 h1 span::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        border-radius: 100%;
        box-shadow: 0 10px 0 #4361EE;
    } */

    #content-box-04 {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .slide-btn1,
    .slide-btn2 {
        width: 8%;
        height: 5%;
    }

    .slide-btn1 {
        margin-left: 3%;
    }

    #blue-box {
        width: 74%;
        margin: 0 5%;
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        background: #F4F6FE;
        border-radius: 15px;
        align-items: center;
        gap: 5vh;
    }

    #main-pic {
        width: 60%;
        height: 30%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #quotes {
        width: 12%;
        height: 5%;
    }

    .desktop-text {
        display: none;
    }

    .mobile-text {
        display: block;
        width: 86%;
        height: 50%;
        font-family: 'Proxima Nova';
        font-size: 1.8em;
        line-height: 170%;
        text-align: center;
        color: #4F5863;
        margin: 0 0 10% 0;
    }

    #dots1 {
        display: none;
    }

    #dots2 {
        position: absolute;
        top: 103%;
    }

    /* part5 */
    #part5 {
        margin: 15vh 0;
        width: 100%;
        /* height: 130vh; */
        text-align: center;
        background-color: #E9F4FF;
    }

    #part5 h1 {
        font-size: 2.2em;
        background-color: white;
        padding: 9vh 0;
    }

    #part5 h1 span {
        border-bottom: 3px solid #4361EE;
        padding-bottom: 0.5vh;
    }

    .info-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 7vh;
        margin: 10% 7% 0 7%;
    }

    #address-part,
    #contact-part,
    #email-part {
        text-align: left;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: 0.5fr 7fr;
        grid-template-rows: 1fr 1fr;
    }

    .info-box img {
        vertical-align: middle;
        padding-bottom: 3%;
    }

    .info-box .info-title {
        font-size: 1.8em;
        padding-top: 1.5%;
        padding-left: 6%;
    }

    .info-box .info-content {
        padding-left: 7%;
        padding-top: 5%;
        color: #4F5863;
        font-size: 1.25em;
    }

    #form {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px 0px #E2E7ED;
        width: 84%;
        height: 57%;
        margin: 0 8% 3% 8%;
        text-align: left;
        padding: 7% 5%;
        position: relative;
        top: 5%;
        transform: translateY(10%);
    }

    #form label {
        font-size: 1.3em;
    }

    #form input::placeholder {
        color: transparent;
    }

    #form input {
        border: 1px solid #E2E7ED;
        border-radius: 5px;
        width: 100%;
        height: 7vh;
        margin: 5% 0;
    }

    #btn-submit {
        margin: 5% 0;
        background-color: #4361EE;
        color: white;
        width: 30%;
        height: 7vh;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.1em;
    }

    /* part6 */
    #part6 {
        margin: 20vh 0 15vh 0;
        width: 100%;
        height: auto;
        text-align: center;
    }

    #part6 h1 {
        font-size: 2.2em;
        padding-bottom: 7vh;
        padding-top: 10vh;
    }

    #part6 h1 span {
        border-bottom: 3px solid #4361EE;
        padding-bottom: 0.5vh;
    }

    #photos-part {
        display: flex;
        margin-top: 3%;
    }

    #cover1,
    #cover2,
    #cover3 {
        background-color: #E9F4FF;
        border-radius: 15px;
        text-align: left;
        width: 100%;
        padding-bottom: 2%;
    }

    #cover1 {
        margin-left: 5%;
        margin-right: 2%;
    }

    #cover2 {
        margin-left: 2%;
        margin-right: 5%;
    }

    #cover1 img,
    #cover2 img,
    #cover3 img {
        width: 100%;
        height: 60%;
    }

    #cover1 span,
    #cover2 span,
    #cover3 span {
        display: block;
        font-size: 1.6em;
        line-height: 150%;
        width: 80%;
        margin: 4% 7% 7% 10%;

    }

    #cover1 a,
    #cover2 a,
    #cover3 a {
        display: block;
        margin-left: 10%;
        color: #4361EE;
        padding-bottom: 5%;
        margin-bottom: 10%;
        font-size: 1.2em;
    }

    #cover3 {
        display: none;
    }

    #view-btn {
        display: block;
        background-color: #4361EE;
        color: white;
        border-radius: 7px;
        width: 25%;
        height: 8vh;
        font-weight: bold;
        font-size: 1.1em;
        margin-left: 36%;
        margin-top: 7%;
    }

    /* footer */
    footer {
        background-color: black;
        color: white;
        display: grid;
        grid-template-areas:
            "icons form"
            "contact explore"
            "right right";
        gap: 5vh;
        width: 100%;
    }

    #bottom-icons {
        margin-top: 7%;
        margin-left: 5%;
        grid-area: icons;
    }

    #bottom-icons a:first-child {
        margin: 7% 10% 10% 10%;
        display: block;
    }

    #bottom-icons a:nth-child(2) {
        margin-left: 10%;
    }

    #bottom-icons a {
        margin-right: 5%;
    }

    #bottom-icons img {
        vertical-align: middle;
    }

    #form-bot-container {
        grid-area: form;
    }

    #form-bot {
        margin-top: 10%;
    }

    #form-bot span:first-child {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        margin: 4% 5%;
    }

    #email-field-bot {
        margin-top: 5%;
    }

    #email-field-bot label {
        margin-left: 5%;
    }

    #email-field-bot input {
        width: 80%;
        height: 7vh;
        margin: 5%;
        margin-bottom: 3%;
        background-color: black;
        border: 1px solid #7B7C82;
        border-radius: 5px;
    }

    #email-field-bot input::placeholder {
        color: transparent;
    }

    #form-bot span {
        margin-left: 5%;
        font-size: 0.9em;
    }

    #form-bot span a {
        color: white;
        text-decoration: underline;
    }

    #btn-bot {
        margin: 7% 5% 3% 5%;
        background-color: #4361EE;
        color: white;
        width: 40%;
        height: 7vh;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1em;
    }

    #contact-contents,
    #explore-contents {
        padding-left: 5%;
        margin-top: 5%;
    }

    #contact-contents {
        grid-area: contact;
        margin-left: 10%;
        padding-top: 3%;
    }

    #explore-contents {
        grid-area: explore;
        margin-left: 20%;
    }

    #contact-contents span {
        display: block;
        font-size: 1.05em;
        color: #F5F5F5;
        padding-bottom: 9%;
    }

    #contact-contents span:first-child,
    #explore-contents span:first-child {
        font-size: 1.4em;
        color: white;
        font-weight: bold;
    }

    #contact-contents span img {
        margin-right: 2%;
    }

    #explore-contents span,
    #explore-contents a {
        display: block;
        font-size: 1.05em;
        color: #F5F5F5;
        padding-bottom: 7.5%;
    }

    #explore-contents a:last-child {
        padding: 0;
    }

    #copyright {
        margin: 2% 0 3% 0;
        font-size: 0.9em;
        grid-area: right;
        text-align: center;
    }
}